/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: center;
    background-color: #005da4;
    padding: 10px;
}

    .navbar a {
        text-decoration: none;
        color: #333;
        margin: 0 10px;
    }

        .navbar a:hover {
            color: #007bff;
        }

        .navbar a.active {
            font-weight: bold;
        }

.container {
    margin-top: 20px;
}

/* Estilos de la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
}

    .table th, .table td {
        padding: 8px;
        border: 1px solid #ccc;
    }

    .table th {
        background-color: #f2f2f2;
        font-weight: bold;
        text-align: left;
    }

.table-white th {
    background-color: white;
}

/* Estilos del formulario de actualización */
#formContainer {
    margin-top: 20px;
}

#updateForm {
    margin-top: 10px;
}

    #updateForm .form-group {
        margin-bottom: 10px;
    }

    #updateForm label {
        font-weight: bold;
    }

#updateButton, #deleteButton {
    margin-top: 10px;
}

/* Estilos del formulario de agregar venta */
h2 {
    margin-top: 20px;
}

form div {
    margin-bottom: 10px;
}

form label {
    font-weight: bold;
}

button[type="submit"] {
    margin-top: 10px;
}

/* Estilos de los botones */
.btn {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

    .btn-danger:hover {
        background-color: #ac2d3f;
    }

/* Estilos de navegación */
.nav {
    background-color: #f2f2f2;
    padding: 8px;
    margin-bottom: 20px;
}

.nav-item {
    margin-right: 10px;
    text-decoration: none;
    color: #000;
}

    .nav-item:hover {
        color: #007bff;
    }


/* Estilos del footer */

footer {
    background-color: #222222;
    padding: 60px 0px;
}

    footer ul {
        list-style: none;
        margin: 0 auto;
        display: inline-block;
        padding-top: 50px;
    }

        footer ul li {
            float: left;
        }

            footer ul li a {
                color: #b1aca1;
                padding: 20px;
            }

                footer ul li a:hover {
                    color: #7dabdb;
                    text-decoration: none;
                }

.footer-top {
    padding-bottom: 50px;
}

    .footer-top .fa {
        font-size: 18px;
        color: #FFF;
        padding-right: 10px;
    }

    .footer-top a {
        color: #FFF;
        text-decoration: none;
    }

    .footer-top .col-lg-2:hover .fa,
    .footer-top .col-lg-2:hover a {
        color: #7dabdb;
    }

.copyright {
    background-color: #f0f0f0;
}

    .copyright p {
        font-size: 12px;
        padding: 15px 0 10px 0;
    }